<br>
<div class="main-div">
  <mat-card class="example-card">
    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
    </mat-card-content>
  </mat-card>
</div>

